@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Bold.woff') format('woff'),
        url('fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Medium.woff') format('woff'),
        url('fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Heavy.woff') format('woff'),
        url('fonts/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Thin.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Thin.woff') format('woff'),
        url('fonts/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Light.woff') format('woff'),
        url('fonts/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Ultralight.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Ultralight.woff') format('woff'),
        url('fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Black.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Black.woff') format('woff'),
        url('fonts/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src:url('fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('fonts/SFUIDisplay-Semibold.woff') format('woff'),
        url('fonts/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src:url('fonts/Georgia.woff2') format('woff2'),
        url('fonts/Georgia.woff') format('woff'),
        url('fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}